name: Build

on:
  push:
  pull_request:
  workflow_dispatch:
  workflow_call:
jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
    runs-on: ${{ matrix.os }}
    timeout-minutes: 15
    steps:
    - name: Checkout
      uses: actions/checkout@v6
      with:
        fetch-depth: 0 # avoid shallow clone so nbgv can do its work.
    - name: Install missing packages
      run: apt install libudev-dev -y
    - name: Build
      run: make libusbdmx.so
    - name: Upload Artifacts
      uses: actions/upload-artifact@v6
      with:
        name: DMXforDummies-${{ runner.os }}-${{ github.job }}
        path: |
          libusbdmx.so
          *.o
          **/*.o
          50-usbdmx.rules
          README.md
          LICENSE*.txt